/* Reset de estilos básicos */
body, h1, h2, p, label, a {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('images/background.jpg');
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    margin: 0;
    padding: 0;
}

.container {
    background: rgba(255, 255, 255, 0.33);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    width: 1200px;
    padding: 20px;
    margin: 400px auto;
    text-align: left;
    border: 1px solid; rgba(255, 255, 255, 0.28);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80vh;
    overflow-y: auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: black;
}

p {
    font-size: 18px;
    color: black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.dashboard {
    text-align: center;
}

h2 {
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

/* Estilos para a seção de rodapé */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px; /* Adicionei margem superior para separá-lo do conteúdo principal */
}

.social-icons {
    display: flex;
    margin-top: auto; /* Isso alinhará os ícones na parte inferior da seção */
}

.social-icon {
    margin: 0 10px; /* Adicione espaçamento entre os ícones */
}

p.footer {
    margin-top: 20px;
    font-size: 12px;
    color: #666;
}

.button-34 {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

