<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Santander Boot Camp - Sistema de Gerenciamento de Tarefas Pessoais</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="container">
<h1>Projeto Santander Boot Camp - Sistema de Gerenciamento de Tarefas Pessoais</h1>

<h2>Descrição do Projeto</h2>
<p>Desenvolver um sistema de gerenciamento de tarefas pessoais em Java que permita aos usuários criar, organizar e monitorar suas tarefas diárias, semanais e mensais.</p>

<h2>Objetivo do Projeto</h2>
<p>O objetivo deste projeto é criar um sistema de gerenciamento de tarefas pessoais que ajude os usuários a manterem-se organizados e produtivos em suas atividades diárias.</p>

<h2>Funcionalidades Principais</h2>
<ul>
    <li>Cadastro de Tarefas: Os usuários podem criar tarefas, fornecendo informações como título, descrição, data de vencimento, prioridade, categoria, etc.</li>
    <li>Organização de Tarefas: O sistema permite que os usuários organizem suas tarefas em listas ou categorias personalizadas para facilitar a gestão.</li>
    <li>Lembretes e Notificações: Os usuários recebem lembretes e notificações sobre tarefas pendentes ou próximas do prazo de vencimento.</li>
    <li>Visualização de Tarefas: Os usuários podem visualizar suas tarefas em diferentes modos, como lista, calendário ou kanban, dependendo de suas preferências.</li>
    <li>Marcação de Tarefas Concluídas: Os usuários podem marcar tarefas como concluídas e arquivá-las para referência futura.</li>
</ul>

<h2>Design Patterns a serem Utilizados</h2>
<ul>
    <li>Observer Pattern: Implemente o padrão Observer para notificar os usuários sobre lembretes e atualizações de tarefas.</li>
    <li>Factory Method Pattern: Use o padrão Factory Method para criar objetos de tarefa e categoria de forma flexível e encapsulada.</li>
    <li>Strategy Pattern: Utilize o padrão Strategy para implementar diferentes estratégias de notificação (por exemplo, notificações por e-mail, notificações por push, etc.).</li>
    <li>Decorator Pattern: O padrão Decorator pode ser usado para adicionar funcionalidades adicionais às tarefas, como anexar arquivos, adicionar comentários, etc.</li>
    <li>Singleton Pattern: Use o padrão Singleton para garantir que exista apenas uma instância do sistema de gerenciamento de tarefas em toda a aplicação.</li>
</ul>
    <a class="button-34" role="button" href="/signin">Signin</a>
    <a class="button-34" role="button" href="/login">Login</a>
    <section class="footer">
        <div class="social-icons"> <!-- A classe social-icons já está aplicada aqui -->
            <a href="https://twitter.com/ZandonaiPedro" class="social-icon"><img
                    src="https://img.shields.io/badge/Twitter-000?style=for-the-badge&logo=twitter" alt="Twitter"></a>
            <a href="https://www.linkedin.com/in/pedrohzandonaip/" class="social-icon"><img
                    src="https://img.shields.io/badge/LinkedIn-000?style=for-the-badge&logo=linkedin&logoColor=0E76A8"
                    alt="LinkedIn"></a>
            <a href="https://github.com/pedrozandonai" class="social-icon"><img
                    src="https://img.shields.io/badge/Github-000?style=for-the-badge&logo=Github&logoColor=0E76A8"
                    alt="GitHub"></a>
        </div>
        <p>&copy; 2023 Pedro Zandonai</p>
    </section>
</div>
</body>
</html>