<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User Details</title>
</head>
<body>
<h1>User Details</h1>
<div>
  <p><strong>ID:</strong> <span th:text="${user.id}"></span></p>
  <p><strong>Username:</strong> <span th:text="${user.username}"></span></p>
  <p><strong>Email Address:</strong> <span th:text="${user.emailAddress}"></span></p>
  <p><strong>Password:</strong> <span th:text="${user.password}"></span></p>
</div>
</body>
</html>
